<form action='/articles' method='post'>
    <input type="text" name="title" placeholder='Title'>
    <input type="text" name="content" placeholder='Content'>
    <input type='submit' id='Create Article'>
</form>