<form action="/articles" method="POST">

<h3>Create Title</h3></hi><input type="text" name="title" placeholder="title">
<h3>Create Content</h3><input type="text" name="content" placeholder="content">
<input type="submit">


</form>