<form method="POST" action="/articles">
  <p>Article title: </p><input type="text" name="title">
  <p>Article content: </p><input type="text" name="content">
  <br><br>
  <input type="submit" value="Create Article">
</form>